<div id="signUp" class="container inputText">
 	<fieldset>
      <legend>Enter your Details</legend>
      <form name='regForm' novalidate>

        <input type="text" name="fname" placeholder="First Name" 
          ng-model="regCtrl.user.fname"
          required>
          <span
            ng-if="regForm.fname.$error.required && regForm.fname.$touched">
  	          First Name cannot be blank
          </span>
          <br>
        
        <input type="text" name="lname" placeholder="Last Name"
          ng-model="regCtrl.user.lname"
          required>
          <span
            ng-if="regForm.lname.$error.required && regForm.lname.$touched">
  	          Last Name cannot be blank
          </span>
          <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="regCtrl.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="regCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

        <input type="text" name="short_name" placeholder="Menu number of favorite dish"
          ng-model="regCtrl.user.short_name"
          required>
        <span ng-if="regCtrl.error"> {{ regCtrl.error }} </span>
          <br>

        <button
          ng-disabled="regForm.$invalid"
          ng-click="regCtrl.submit()">Submit
        </button> 
      </form>
    </fieldset>

    <div id="infoMsg" ng-if="regCtrl.infoMsg">{{regCtrl.infoMsg}}</div>
</div>
